:root {
    --accent: #D7B399;
}

:root {
    --dark: #000000;
}

:root {
    --light: #F9F6F1;
}

:root {
    --gray: #CBCFD4;
}

:root {
    --light-gray: #f4f4f4;
}

:root {
    --dark-gray: #8d8d8d;
}

:root {
    --important: #d84033;
}

body {
    font-family: 'Montserrat', sans-serif;
}

ul {
    color: var(--dark);
}

.page {
    padding-top: 100px;
    padding-bottom: 100px;
}

.page-light {
    background-color: var(--light);
}

.page-dark {
    background-color: var(--dark);
}

.wrapper {
    max-width: 1110px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 26px;
    padding-top: 46px;
}

.nav {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-item {
    margin-right: 52px;

}

.nav-link {
    color: var(--dark);
    text-decoration: none;
}

.cart {
    background-image: url("../img/Vector.svg");
    padding-left: 45px;
    display: block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: 0 center;

}


.cart-count {
    background-image: url("../img/abc.svg");
    background-repeat: no-repeat;
    background-position: 0 center;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 24px;
    display: block;
}

.title-h2 {
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
}

.btn {
    background-color: #D7B399;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 18px 28px;


}

.btn-centr {
    display: block;
    text-align: center;
    max-width: 170px;
    margin: 0 auto;
}
.btn-centr span {
    margin-right: 15px
}

.btn-xs {
    padding: 8px 28px;
}

.main {
    display: flex;
    justify-content: space-between;}

.main-item {
    flex: 0 0 50%;
}


.sale-description {
    font-size: 30px;
}

.sale-title {
    font-size: 55px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 60px;
}

.box {
    position: relative
}

.box-price {
    position: absolute;
    right: 0;
    top: 35px;
    text-align: right;
}

.box-price_old {
    font-size: 24px;
    font-weight: 700;
}

.box-price_new {
    font-size: 24px;
    color: var(--important);
}

.box-price_new {
    font-weight: 700;
}

.notice {
    text-align: center;
    color: white;
    padding: 64px 0 54px;

}

.notice-title {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 400;}

.notice-title span {
    font-weight: 700
}


.notice-description {
    font-size: 21px;
}

.collection {
    display: flex;
    justify-content: space-between;

}

.collection-item {
    flex: 0 0 50%;
    padding: 43px 0 63px;
    background-repeat: no-repeat;
    background-position: calc(100% - 37px) bottom;
    background-size: 190px 171px;
}

.collection-man {
    background-image: url("../img/man.png");
}

.collection-woman {
    background-image: url("../img/woman.png");

}

.collection-title {
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.collection-description {
    font-size: 16px;
    margin-bottom: 43px;
}

.product {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.product-item {
    flex: 0 0 24%;
    position: relative;
}


.product-item::before, ::after {
    content: '';
    display: block;
    width: 100%;
    height: 25px;
    background-size: cover;
    background-repeat: no-repeat;
}

.product-item::before {
    background-image: url("../img/Line.svg");
}

.product-item::after {
    background-image: url("../img/ma.svg");
}


.product-title {
    font-weight: 600;
    margin-top: 23px;
    margin-bottom: 0;

}

.product-price {
    color: var(--accent);
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.footer-logo {
    flex: 0 0 40%;

}

.footer-nav {
    flex: 0 0 60%;
    display: flex;
    justify-content: space-between;
    color: white;
}

.footer-list {
    list-style-type: none;
    padding-left: 0;

}

.footer-list-title {
    font-size: 10px;
    font-weight: 700;

}

.footer-list-item {
    margin-bottom: 10px;
}

.footer-list-link {
    color: var(--gray);
    text-decoration: none;
    font-size: 14px;
}