:root {
    --accent: #D7B399;
    --dark: #212121;
    --light: #F9F6F1;
    --grey: #CBCFD4;
    --light-grey: #F4F4F4;
    --dark-grey: #8D8D8D;
    --important: #D84033;

}
body {
    font-family: 'Montserrat', sans-serif;
}
.page {
    padding-top: 100px;
    padding-bottom: 100px;
}

.page-light {
    background-color: var(--light);
}

.page-dark {
    background-color: var(--dark);
}

.wrapper {
    max-width: 1110px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 26px;
    padding-top: 46px;
}

.nav {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-item {
    margin-right: 52px;

}

.nav-link {
    color: var(--dark);
    text-decoration: none;
}

.cart {
    background-image: url("../img/Vector.svg");
    padding-left: 45px;
    display: block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: 0 center;

}


.cart-count {
    background-image: url("../img/abc.svg");
    background-repeat: no-repeat;
    background-position: 0 center;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 24px;
    display: block;
}

.title-h2 {
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
}
.btn {
    background-color: var(--accent);
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 18px 28px;
}
.btn-xs {
    padding: 5px 28px;
}

.btn-center {
    display: block;
    text-align: center;
    max-width: 168px;
    margin: 0 auto;
}

.middle {
    margin-right: 15px;
}

.main {
    display: flex;
    justify-content: space-between;
}

.main-item {
    flex: 0 0 50%;
}

.sale-description {
    font-size: 30px;
    letter-spacing: -0.6px;
}

.sale-title {
    font-size: 55px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 60px;
}

.box {
    position: relative;
}

.box-price {
    position: absolute;
    right: 0;
    top: 35px;
    text-align: right;
}

.box-price_old {
    font-size: 24px;
    font-weight: 700;

}

.box-price_new {
    font-size: 42px;
    font-weight: 700;
    color: var(--important);
    margin-top: 17px;
}
.notice {
    text-align: center;
    color: #fff;
    padding: 64px 0 54px;
}
.notice-title {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 400;
}

.notice-description {
    font-size: 21px;
}

span {
    font-weight: 700;
}
.collection {
    display: flex;
    justify-content: space-between;

}

.collection-item {
    flex: 0 0 50%;
    padding: 43px 0 63px;
    background-repeat: no-repeat;
    background-position: calc(100% - 37px) bottom;
    background-size: 190px 171px;
}

.collection-title {
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.collection-description {
    font-size: 16px;
    margin-bottom: 43px;
}
.collection-man {
    background-image: url("../img/man.png");
}

.collection-woman {
    background-image: url("../img/woman.png");

}
.product {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 103px;
    margin-bottom: 100px;
}
.product-title {
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 0;
}
.product-price {
    color: var(--accent);
    font-size: 18px;
    font-weight: 700;
}
.product-item {
    flex: 0 0 23%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

.product-item::before {
    background-image: url("../img/item-top.svg");
    content: '';
    display: block;
    width: 100%;
    height: 25px;

}

.product-item::after {
    background-image: url("../img/ma.svg");
    content: '';
    display: block;
    width: 100%;
    height: 25px;

}


.product-title {
    font-weight: 600;
    margin-top: 23px;
    margin-bottom: 0;

}

.product-price {
    color: var(--accent);
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
.footer-list-item {
    margin-bottom: 10px;
}
.footer-logo {
    flex: 0 0 40%;
}

.footer-nav {
    flex: 0 0 60%;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.footer-list {
    list-style-type: none;
    padding-left: 0;
}
.footer-list-link {
    color: var(--grey);
    text-decoration: none;
    font-size: 14px;
}
.footer-list-title {
    font-size: 10px;
    font-weight: 700;
}
.link-img {
    margin-right: 4px;
}